version: "3.9"

services:
  app:
    build: .
    container_name: shefport_app
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    volumes:
      - app_data:/app/data

  db:
    image: postgres:16
    container_name: shefport_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
  app_data: